<%= stylesheet_link_tag "style" %>
<div class="row">
  <div id="header-form" class="col-sm-12">
    <h1>Twitter Trend Analyzer</h1>
    <%= form_with scope: :search, url: searches_path, local: true do |form| %>
	  <%= form.text_field :query, id: "query" , class: "form-control", placeholder: "e.g. tuns.pk, @tunespeak, #metallica" %>
	  <%= form.submit "Analyze", id: "submit", class: "btn btn-primary" %>
	<% end %>
  </div>
</div>

<% if flash[:notice] %>
    <div id="error_explanation">
      <h6>
        <%= flash[:notice] %>
      </h6>
    </div>
<% end %>

<h4>Showing results for: <%= session[:query].inspect %></h4></br>

<h5>@UserMentions</h5>
<table class="table">
<% if !Twitter::Results.userMentions.empty? %>	
	<% Twitter::Results.userMentions.each do |key, value| %>
	    <tr>
	      	<td class="hash-value"><%= "#{value}" %></td>
	      	<td class="hash-key"><%= "#{key}" %></td>
	    </tr>
	<% end %>
<% else %>
	<tr>
      	<td>No results</td>
      	<td>-</td>
    </tr>
<% end %>
</table>

<h5>#Hashtags</h5>
<table class="table">
<% if !Twitter::Results.hashTags.empty? %>
	<% Twitter::Results.hashTags.each do |key, value| %>
	    <tr>
	      	<td class="hash-value"><%= "#{value}" %></td>
	      	<td class="hash-key"><%= "#{key}" %></td>
	    </tr>
    <% end %>
<% else %>
	<tr>
      	<td>No results</td>
      	<td>-</td>
    </tr>
<% end %>
</table>