#header-form {
	padding: 50px 25px 25px 25px;
}	

#query {
	width:65%; display:inline;
}

#error_explanation h6 {
	color: red;
}

.hash-key {
	color: #44A5FF;
}

.hash-value {
	width: 50px;
}

.table {
	background: #F8F8F8;
}
